@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

html, body {
    font-family: 'Oxygen', sans-serif;
}

.car-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    padding-top: 10px;
}

.detail {
    display: flex;
    padding: 30px;
}

.header {
    text-align: center;
}

.cars-pic {
    width: 600px;
    height: 420px;
    margin-right: 50px;
}

.cars-detail {
    padding: 5px;
    font-size: 20px;
}
