@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

html, body {
    font-family: 'Oxygen', sans-serif;
}

.header {
    text-align: center;
    font-size: 70px;
}

.car-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    padding-top: 10px;
}

.detail {
    display: flex;
    padding: 30px;
}

.cars-pic {
    width: 600px;
    height: 420px;
    margin-right: 50px;
}

.car-pic {
    height: 400px;
    width: 600px;
}

.cars-detail {
    padding: 5px;
    font-size: 20px;
}

.oneCar {
    display: flex;
}

.sorting {
    display: flex;
}

#sort-by {
    padding-right: 10px;
}

#price, #year {
    padding-right: 5px;
}

.sorting-by {
    display: flex;
}

.angle {
    padding-right: 5px;
}

.active {
    color: red;
}

.sorting-filtering {
    display: flex;
    padding: 30px;
}

.content {
    padding: 40px;
}
